<h1 class="titulo">Lista de Temas</h1>
<br/>
<br/>

<table>
  <tr>
    <th>Nombre</th>
    <th>Propietario</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @temas.each do |tema| %>
  <tr>
    <td><%= tema.nombre %></td>
    <td><%= tema.propietario %></td>
    <td><%= link_to 'Ver', tema, class: "btn" %></td>
    <td><%= link_to 'Editar', edit_tema_path(tema), class: "btn" %></td>
    <td><%= link_to 'Eliminar', tema, confirm: 'Are you sure?', method: :delete, class: "btn" %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo Tema', new_tema_path, class: "btn" %>

<% content_for :columnaI do%>
<h2>Admin</h2>
<hr class="soften">
<ul>
	<li><%=link_to "Temas", temas_path%></li>
	<hr class="soften">
	<li><%=link_to "Artículos", articulos_path%></li>
	<hr class="soften">
	<li><%=link_to "Ir al Sitio", root_path%></li>
</ul>
<br/>
<%= link_to "Salir", destroy_user_session_path, method: :delete, class: "btn" %>
<%end%>