<h1 class="titulo"><%=image_tag "estrella.png" %> <%= @tema.nombre %> <%=image_tag "estrella.png" %></h1>
<h6>Creador: <%= @tema.propietario %></h6>

<h2>Posts:</h2>
<hr class="soften">
<ul>
	<% if @tema.articulos.count == 0%>
	<h4>Aun no hay Temas, regresa mas tarde.</h4>
	<%else%>
	<% @tema.articulos.each do |articulo|%>
	<li><%=link_to articulo.titulo, articulo%></li>
	<hr class="soften">
	<%end%>
	<%end%>
</ul>

<% content_for :columnaI do%>
<h2>Temas</h2>
<hr class="soften">
<ul>
	<% todos_temas.each do |tema|%>
	<li><%=link_to tema.nombre, tema%></li>
	<hr class="soften">
	<%end%>
</ul>
<%end%>