<h1 class="titulo"><%=image_tag "estrella.png" %> <%=@primerPost.titulo%> <%=image_tag "estrella.png" %></h1>
<h6><%=@primerPost.autor%></h6>
<p>
	<%=@primerPost.descripcion%>
</p>
<hr class="soften">