<h1 class="titulo"><%=image_tag "estrella.png" %> <%=@primerPost.titulo%> <%=image_tag "estrella.png" %></h1>
<h6><%=@primerPost.autor%></h6>
<p>
	<%=@primerPost.descripcion%>
</p>
<hr class="soften">
<% if @articulo.coments.count == 0%>
<h4>Se el primero en comentar !</h4>
<%else%>
	<% @primerPost.coments.each do |coment|%>
		<h6>Usuario: <%=coment.usuario%></h6>
		<%= coment.comentario%>
	<%end%>
<%end%>
<hr class="soften">
<%= form_for @primerPost.coments.new do |f| %>
<div class="field">
    <h6>Usuario:</h6>
    <%= f.text_field :usuario %>
  </div>
  <div class="field">
    <h6>Comentario:</h6>
    <%= f.text_area :comentario , :rows => "5"%>
  </div>
<div class="actions">
    <%= f.submit "Comentar", class: "btn"%>
  </div>
<div class="ocultar">
	<%= f.collection_select :articulo_id, Articulo.all, :id, :titulo %>
	  </div>
<%end%>
<% content_for :columnaI do%>
<h2 >Temas</h2>
<hr class="soften">
<ul>
	<% todos_temas.each do |tema|%>
	<li><%=link_to tema.nombre, tema%></li>
	<hr class="soften">
	<%end%>
</ul>
<%end%>