<!DOCTYPE html>
<html>
<head>
  <title>Blog - Magma</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
	<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="header">
		<%=link_to (image_tag "logo.jpg"), root_path%>
		<h6>BLOG</h6>
	</header>

	<div class="content">
		<div class="colL">
			<%= yield :columnaI%>
			
		</div>
		<div class="colR">
			<%= yield %>
		</div>
	</div>

</body>
</html>
