<!DOCTYPE html>
<html>
<head>
  <title>BlogMagma</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
	<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="header">
		<%=link_to (image_tag "logo.jpg"), root_path%>
		<h6>BLOG</h6>
	</header>

	<div class="content">
		<div class="colL">
			<h2>Temas</h2>
			<hr class="soften">
			<ul>
				<% todos_temas.each do |tema|%>
				<li><%=link_to tema.nombre, tema%></li>
				<%end%>
			</ul>
		</div>
		<div class="colR">
			<%= yield %>
		</div>
	</div>

</body>
</html>
