<!DOCTYPE html>
<html>
<head>
  <title>BlogMagma</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
<link href='http://fonts.googleapis.com/css?family=Russo+One' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="header">
		<%=image_tag "logo.jpg"%>
		<h6>BLOG</h6>
	</header>

	<div class="content">
		<div class="colL">
			Columna Izq
		</div>
		<div class="colR">
			<%= yield %>
		</div>
	</div>

</body>
</html>
