<h1 class="titulo"><%=image_tag "estrella.png" %> <%= @articulo.titulo %> <%=image_tag "estrella.png" %></h1>
<h6>Autor: <%= @articulo.autor %> / Tema: <%= @articulo.tema.nombre %></h6> 
<hr class="soften">
<%= @articulo.descripcion %>

<hr class="soften">
	<% @articulo.coments.each do |coment|%>
		<h6><%=coment.usuario%> comenta:</h6>
		<%= coment.comentario%>
		<hr class="soften">
	<%end%>
<hr class="soften">
<%= form_for @articulo.coments.new do |f| %>
<div class="field">
    <h6>Usuario:</h6>
    <%= f.text_field :usuario %>
  </div>
<div class="field">
    <h6>Articulo:</h6>
	<%= f.collection_select :articulo_id, Articulo.all, :id, :titulo %>
	  </div>
  <div class="field">
    <h6>Comentario:</h6>
    <%= f.text_area :comentario , :rows => "5"%>
  </div>
<div class="actions">
    <%= f.submit "Comentar", class: "btn"%>
  </div>
<%end%>
<% content_for :columnaI do%>
<h2>Temas</h2>
<hr class="soften">
<ul>
	<% todos_temas.each do |tema|%>
	<li><%=link_to tema.nombre, tema%></li>
	<hr class="soften">
	<%end%>
</ul>
<%end%>