<h1 class="titulo"><%=image_tag "estrella.png" %> <%= @articulo.titulo %> <%=image_tag "estrella.png" %></h1>
<h6>Autor: <%= @articulo.autor %> / Tema: <%= @articulo.tema.nombre %></h6> 

<%= @articulo.descripcion %>


